**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/*.mdf
**/*.ldf
**/bin/
**/obj/
Dockerfile.*
Dockerfile
*.user
*.vspscc
*.vssscc
.vscode/
.vs/
.idea/
.env
*.db
*.suo
*.psess
